[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "queryup"]
	path = queryup
	url = https://github.com/voisinneg/queryup
	shallow = true
	registered = true
